
html{
    background-image: url("../media/interier.jpg");
    background-size:cover;
    /* background-repeat:no-repeat; */
    display:flex;
    justify-content:center;
    height:100%;
}
body{
    background:transparent;
    display:flex;
    justify-content:center;
    height:100hv;
    width: 100%;
    margin:0;
}

.calenderbg{
    width:50%;
    height:80%;
    border-radius:30px;
    display:flex;
    flex-wrap : wrap;
    padding:10px;
    gap:20px;
}
.hatch{
    border: white ridge;
    width:20%;
    border-radius:30px;
    display:flex;
    justify-content:center;
    transition-duration: 500ms;
    text-decoration:none;
    color:#222222;
    background-color: #ffffff80;
}
.hatch:hover{
    background-color: #B10800 ;
    cursor:pointer;
}
.today{
    color:white;
    background-color: green;
}
.prev{
    color:white;
    background-color: #ff000080;
}
nav{
    padding: 10px;
    background-color: #222222;
    width: 96%;
}