
body{
    background-image: url("../media/interier.jpg");
    display:flex;
    justify-content:center;
    height:100%;
}

.calenderbg{
    width:50%;
    height:80%;
    border-radius:30px;
    display:flex;
    flex-wrap : wrap;
    padding:10px;
    gap:20px;
}
.hatch{
    border: white ridge;
    width:20%;
    border-radius:30px;
    display:flex;
    justify-content:center;
    color:white;
    background-color: #ffffff57;
    transition-duration: 500ms;
    text-decoration:none;
}

.hatch:hover{
    background-color: #B10800 ;
    cursor:pointer;
    
}
